[submodule "Contact_Book-0.1"]
	path = Contact_Book-0.1
	url = git@github.com:amanarya1r/Contact_Book-0.1.git
[submodule "YouTube_Manager-0.1"]
	path = YouTube_Manager-0.1
	url = git@github.com:amanarya1r/YouTube_Manager-0.1.git
